#sec01{
	width: 100%;
	height: 100%;
	padding-bottom: 100%;
	padding-top: 100px;
	background-color: background: #56CCF2; 
					  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  
					  background: linear-gradient(to right, #2F80ED, #56CCF2); 

	color: white;
}

.sec01-header{
	color: white;
	font-size: 36pt;
	margin: auto;
	text-align: center;
}

#sec01 div button{
	width: 150px;
	height: 45px;
	background-color: white;
	border: 0;
	border-radius: 10px;
	color: black;
	text-align: center;
	margin-top: 20px;
	margin-left: 330px;
	margin-right: -250px;
	
}
#sec01 h1{
	font-size: 36pt;
	font-family: serif;
	font-weight: bold;
}

.img{
	padding-top: 150px;
	padding-left: 90px;

}

.text{
	width: 95%;
	margin: auto;
	margin-top: 100px;
	

}

.text p{
	font-size: 16pt;
	font-style: italic;
	font-family: serif;
	padding: 50px 50px 50px 50px;
	text-align: justify;
}

.text a{
	margin-left: 50px;
	font-size: 25px;
}

.img01{
	
	margin-bottom: -200px;
	margin-right: 100px;

}