body{
	background: #3494E6;  /* fallback for old browsers */
	background: -webkit-linear-gradient(left, #EC6EAD, #3494E6);
	background: -o-linear-gradient(left, #EC6EAD, #3494E6);
	background: linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#section01 h1{
	font-size: 36pt;
	text-align: center;
	color: white;
	margin-top: -100px;
}
#section01 img{
	width: 200px;
	margin-left: 40px;
	margin-top: 20px;
}
#section01 h1 a{
	text-decoration: none;
	color: white;
}
#section01 div button{
	background-color: #4090e2;
	width: 180px;
	height: 50px;
	border: 0;
	border-radius: 10px;
}
#section01 div button a{
	text-decoration: none;
	font-size: 16pt;
	color: white;
}
.button2{
	margin-left: 380px;
}
#section02 div table tr td{
	background-color: white;
	color: blue;
}
#section02{
	margin-left: 250px;
	margin-top: 50px;
	height: 2800px;
	background-color: white;
	width: 60%;
}
.div1{
	margin-top: 30px;
	margin-left: 20px;
	color: blue;
}
.div2{
	color: blue;
	margin-top: -75px;
	margin-left: 300px;
}
.div3{
	text-align: center;
	margin-top: 50px;
	margin-left: -70px;
}
.h4{
	color: red;
	margin-left: 220px;
}
#section02 div img{
	width: 150px;
	margin-top: 20px;
	margin-left: 50px;
}
#section02 div h2{
	color: green;
	margin-top: -70px;
	margin-left: 280px;
	margin-bottom: 50px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}
 div button{
	width: 220px;
	height: 50px;
	background-color: #4a90e2;
	border-radius: 10px;
	border:0;
	margin-top: 30px;
}
div button a{
	color: white;
	text-decoration: none;
	font-size: 16pt;
}
.button6{
	margin-left: 710px;
}