body{
	width: 95%;
	margin: auto;
	font-family: serif;
	font-size: 16pt;
	font-style: italic;
	background-image: url(./../images/water-1018808_1280.jpg);
	background-size: 100%;

}
/*
 *section01
 */
#sec01 img{
	margin-top: 10px;
	width: 5%;
}
#sec01 h1{
	font-size: 36pt;
	font-family: bold;
	font-style: serif;
    margin: 220px 0 0 500px;
}
.button01{
    margin: 60px 0 0 480px;
}
.button01 button{
	border-radius: 5px;
	border: solid 1px white;
	background: white;
	font-family: serif;
	font-size: 16pt;
	font-style: italic;
	padding: 7px 15px 7px 15px;
}
a{
	text-decoration: none;
}